<div class="block">
    <div class="field has-addons">
        <p class="control">
            <a href="/post/{{id}}">
                <h5 class="title is-5">{{title}}</h5>
            </a>
        </p>

        <div class="field">
            <p class="control">
                <a href="/edit/{{id}}">
                    <button class="button is-success" id="edit-btn">Edit</button>
                </a>
                <button class="button is-danger" id="delete-btn" data-id="{{id}}">Delete</button>
            </p>
        </div>
    </div>
</div>

<script src="./js/delete-post.js"></script>