

<form action="/login" method="post">

{{!-- email input --}}
<input type="text" name="email" placeholder="user@email.com">
{{!-- password --}}
<input type="text" name="password" placeholder="password">

<button type="submit">Login</button>

</form>