{{> nav}}


<form class="container" id="signup-form">
  <!-- Email input -->
  <div class="field">
    <label class="label" for="username-input">Username</label>
    <input type="text" id="username-input" class="form-control" placeholder="Enter User Name"/>
  </div>

  <!-- Password input -->
  <div class="field">
    <label class="label" for="password-input">Password</label>
    <input type="password" id="password-input" class="form-control" placeholder="Password" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="button is-black">Sign up!</button>


</form>

<script src="./js/sign-up.js"></script>